.submenu {
	width: 490px;
	margin: 70px auto;
	padding: 30px 0;
}

.submenu-title {
	text-align: center;
	font-size: 34px;
	font-weight: 500;
	margin: 0 0 30px;
}

.submenu-category {
	margin-bottom: 20px;	
}

.submenu-category-title {
	text-align: center;
	font-size: 25px;
	font-weight: 500;
	margin: 20px 0;
}

@media screen and (max-width: 660px) {
	.submenu {
		width: 100%;
		padding: 0 10px
	}

	.submenu-title {
		font-size: 26px;
	}

	.submenu-category-title {
		font-size: 18px;
	}
}