:root {
	--main-color-1: #31d367;
	--main-color-2: #2196F3;
	--border-gray: #ddd;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}
html, body {
	  height: 100%;
}
body {
  margin: 0;
  padding: 120px 0 0;
  font-family: Open-sans, sans-serif;
  background: #fff;
  background-size: cover;
  position: relative;

}

#root {
	background: #f6f6f6;
	min-height: 100%;

	position: relative;
	/* высота футера*/
	padding-bottom: 72px;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.line-through {
	text-decoration: line-through;
}

@media screen and (max-width: 1114px) {
	body {
		padding-top: 90px;
	}

}

@media screen and (max-width: 380px) {

}

@media screen and (max-width: 960px) {
	.container {
		width: 100%;
	}
}

@media screen and (max-width: 670px) {
	body {
		padding-top: 75px;
	}
}