.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 14px 74px;
	height: 120px;
		border-bottom: 1px solid #cfcfcf;
		background: #fff;
		position: fixed;
		top: 0;
	width: 100%;
}

.header-fixed {
	position: fixed;
	z-index: 999;
	top: 0px;
	padding: 15px 74px;
	height: 80px;
}


.header-logo-container {
	font-family: Lobster, sans-serif;
	font-size: 36px;
	color: #121212;
	letter-spacing: .6px;
}

.header-phone{
	font-size: 19px;
	font-weight: 300;
	letter-spacing: -.7px;
}

.header-phone a{
	color: #121212;
	transition: .3s;
	border-bottom: 1px solid transparent;
}
.header-phone a:hover {
	border-bottom: 1px solid #121212;

}

.header-phone a:nth-child(2) {
	margin-right: 30px;
}

.header-phone img {
	margin-right: 15px;

}

@media screen and (max-width: 1024px) {
	.header {
		padding: 15px 12px;
		width: 100%;
	}	

	.header-phone{
		font-size: 14px;

	}

	.header-logo-container {
		font-size: 18px;
	}
}

.header-phone-mode {
	margin-right: 30px;
	font-weight: 300;
	opacity: .4;
}
/* высота хедера связана с с компонентом Calendar*/
@media screen and (max-width: 1114px) {
	.header {
		height: 90px;
	}
}

@media screen and (max-width: 380px) {
	.header {
		flex-direction: column;
	}

}

@media screen and (max-width: 670px) {
	.header {
		height: 75px;
	}
	.header-phone-mode {
		display: none;
	}
}